# .editorconfig file
root = true

# Apply to all files
[*]
charset = utf-8
trim_trailing_whitespace = true
end_of_line = lf

[*.py]
indent_style = space
indent_size = 4
max_line_length = 80
quote_type = double

# Isort configuration
[tool.isort]
profile = black
skip =
    proto/
