# Python crud
*.pyc
*.pyo

# Distfiles related goo
MANIFEST
dist/
build/
*.egg-info/

# Documentation
doc/build/

# Solution files
*.txt
!edgfs2D/sphericaldesign/symmetric/*.txt
*.h5*

*.gz
*.txt
*.lpk
*.png
*.log
*.dat

back/
bench/
__pycache__

.README

edgfs2D/proto/*_pb2.py
log
*.vtu
